@import './colors.styl';

nav.details {

    & ul {
        display: flex;
        flex-direction: row;

        & li.cancel {
            order: 0;
            margin-left: 15px;

            & > a {
                padding: 15px;
            }
        }

        & li.edit {
            margin-left: auto;
            margin-right: 15px;
            & > a {
                padding: 15px;
            }
        }

        & li.title {
            order: 1;
            flex-grow: 1;
            text-align: center;
            font-weight: bold;
        }

        & li.done {
            order: 2;
            margin-right: 15px;
            cursor: pointer;

            &.disabled {
                color: darkgray;
            }

            & > a {
                padding: 15px;
            }
        }
    }

}

.alert {
    padding: .75rem 1rem .75rem 3rem;
    background: #fff;
    color: #555459;

    display: flex;
    flex-direction: row;
    padding: 20px;


    & > .alert_icon {
        flex: none;
        height: 24px;
    }

    & > p {
        margin: 0 auto;
        font-weight: 600;
        font-size: 15px;
    }

    &.success {
        background: colorSuccess;
        color: colorWhite;
    }

    &.error {
        background: colorAlert;
        color: colorWhite;
    }

    &.warning {
        background: colorWarning;
        color: #000;
    }
}

.row {
    display: flex;
    flex-direction: row;

    & div.dateField {
        margin-right: 5px;
    }

    & div.timeField {
        margin-left: 5px;
    }
}

.rowSpace {
    padding-top: 15px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main.bookingShow {

    text-align: center;

    & h1{

        margin-bottom: 0;
    }

    & .delete {
        padding: 10px;
        width: 200px;
        margin-top: 50px;
        border-radius: 4px;
        color: colorAlert;
        background: greyBg;

        border: 1px solid menuBorder;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        text-align: center;
        &:hover {
            color: colorAlert;
        }
    }
}

main.bookingForm {

    & form {

        & .mobile {
            display: none;
        }

        div.input {
            display: flex;
            flex-direction: column;

            & input.error {
                border-left: 1px solid inputError;
                border-right: 1px solid inputError;
                border-top: 1px solid inputError;
                border-radius: 2px 2px 0 0;
                margin-bottom: 0;
            }

            & div.error {
                background-color: inputErrorLight;
                color: inputError;
                padding: 9px;
                border-left: 1px solid inputError;
                border-right: 1px solid inputError;
                border-bottom: 1px solid inputError;
                border-top: 0;
                margin-bottom: spaceBelow;
                border-radius: 0 0 2px 2px;
            }
        }

        max-width: 800px;
        margin: 0 auto;
        padding: 10px;

        & input[type=text] {
            border: 1px solid inputBorder;
            &:focus {
                outline: none;
                border: 1px solid transparentify(inputHighlight, inputHighlight, 0.5);

                &.error {
                    border: 0;
                }
            }
        }
    }
}


@media only screen and (max-width : 414px) {


    main.bookingForm {

        & form {

            & .datepicker, & .timepicker {
                display: none !important;
            }

            & .mobile {
                display: block;
            }

        }

    }
}