greyBg = #f5f5f5;
menuBorder = #dee0e2;
iconColor = #5089e3;
iconColorHover = #1d62f0;
inputBorder = #ddd;
inputHighlight = #2597e6;
inputError = #ef3d37;
inputErrorLight = #fff2f2;
colorWhite = #fff;
colorSuccess = #15cd72;
colorWarning = #ede04d;
colorAlert = #da4429;